


server {
             listen 80;
             listen [::]:80;
             root /var/www/{{ item.domain }};
             server_name {{ item.domain }} www.{{ item.domain }};
             {% if item.php == 'yes' %}
             index index.html index.htm index.php;
             location ~ \.php$ {
                      include snippets/fastcgi-php.conf;
                      #With php-fpm (or other unix sockets):
                      fastcgi_pass unix:/run/php/php7.3-fpm.sock;
                      #With php-cgi (or other tcp sockets):
                      #fastcgi_pass 127.0.0.1:9000;
            
             }
             {% else %}
             index index.html index.htm index.php;
             location / {
                      try_files $uri $uri/ =404;
             }
             {% endif %}
}         

